<div class="container" style="padding-top: 20px;">
    <h4>Register</h4>
    <form #userForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name"
                #name="ngModel">
            <div [hidden]="name.valid || name.untouched" class="error text-danger">
                <div class="valid-hint" *ngIf="(!user.name || user.name.length == 0)">
                    Name is required
                </div>
            </div>

            <label for="email">Email</label>

            <input type="text" class="form-control" id="email" required name="email" [(ngModel)]="user.email"
                #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <div [hidden]="email.valid || email.untouched" class="error text-danger">
                <div [hidden]="!email.hasError('pattern')">Invalid email</div>
                <div *ngIf="(!user.email || user.email.length == 0)">Email required</div>
            </div>

            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="user.password"
                name="password" #password="ngModel">
            <div [hidden]="password.valid || password.untouched" class="error text-danger">
                <div class="valid-hint" *ngIf="(!user.password || user.password.length == 0)">
                    Password is required
                </div>
            </div>
        </div>

        <button (click)="addUser()" class="btn btn-success" style="margin-right: 10px;"
            [disabled]="!userForm.form.valid">Submit</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal" routerLink="/login">Back</button>
    </form>
</div>